* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amatic SC", cursive;
  background-image: url("./images/circles-light.png");
}

.list {
  text-align: center;
  margin-top: 60px;

  .list-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    color: #415396;
    margin-bottom: 10px;

    &__buckle {
      font-size: 100px;
    }

    @media (max-width: 440px) {
      font-size: 50px;
    }
  }

  &__input-wrapper {
    position: relative;
    max-width: 250px;
    margin-right: 5px;
  }

  &__input-text {
    width: 100%;
    font-family: "Amatic SC", cursive;
    font-size: 20px;
    color: #415396;
  }

  &__button {
    background-color: #415396;
    border: 1px solid #000;
    padding: 5px 10px;
    color: #fff;
    font-family: "Amatic SC", cursive;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__error {
    font-size: 30px;
    font-weight: bold;
    color: #c80b0d;
    padding: 20px 0;
  }
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  padding: 25px;

  .item {
    background: #cde5f1;
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
    color: #333;
    font-size: 30px;
    font-weight: normal;
    width: 250px;
    height: fit-content;
    margin-top: 30px;
    padding: 20px 25px;
    position: relative;
    &:nth-child(even) {
      transform: rotate(-2deg);
    }
    &:nth-child(odd) {
      transform: rotate(4deg);
    }
    &__text {
      word-wrap: break-word;
      text-align: left;
      padding-top: 10px;
      font-size: 28px;
    }
    &__data {
      font-size: 18px;
      font-weight: bold;
      text-align: right;
    }
  }

  .pin {
    background-color: #aaa;
    display: block;
    height: 32px;
    width: 2px;
    position: absolute;
    left: 50%;
    top: -16px;
    z-index: 1;
    &:after {
      background-color: #415396;
      background-image: radial-gradient(
        circle at 25% 25%,
        rgba(255, 255, 255, 0.3),
        rgba(0, 0, 0, 0.3)
      );
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1),
        inset 3px 3px 3px rgba(255, 255, 255, 0.2),
        inset -3px -3px 3px rgba(0, 0, 0, 0.2),
        23px 20px 3px rgba(0, 0, 0, 0.15);
      content: "";
      height: 12px;
      left: -5px;
      position: absolute;
      top: -10px;
      width: 12px;
    }
    &:before {
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.1);
      content: "";
      height: 24px;
      width: 2px;
      left: 12px;
      position: absolute;
      top: 12px;
      transform: rotate(57.5deg);
    }
  }
}

input[type="text"] {
  border: 1px solid #000;
  padding-top: 10px;
}

:focus {
  outline: none;
}

form {
  display: flex;
  justify-content: center;
}

.effect ~ .focus-border:before,
.effect ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #415396;
  transition: 0.3s;
}
.effect ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
.effect ~ .focus-border i:before,
.effect ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #415396;
  transition: 0.4s;
}
.effect ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.effect:focus ~ .focus-border:before,
.effect:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.3s;
}
.effect:focus ~ .focus-border i:before,
.effect:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.4s;
}

.effect {
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
}

.fa-trash {
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  float: right;
  padding-top: 20px;
}

.fa-trash:hover {
  transform: scale(1.2) rotate(-5deg);
  color: #415396;
}
